.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.address a {
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

.header__address p {
  width: 236.49px;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 60%);
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-top: 20px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  flex-shrink: 0;
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: inherit;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-shrink: 0;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 4px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  min-height: 596px;
  padding: 48px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  margin: 155px 24px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  margin-top: 180px;
  padding: 0 50px 82px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
}

.footer__social-icon {
  display: block;
}